@page {
  size: A4;
}
* {
  box-sizing: border-box;
}

@media screen and (min-width: 210mm) {
  body {
    width: 210mm;
    margin: auto;
    padding-bottom: 50mm;
  }
}

@media (min-width: 576px) {
  .w-sm-25 {
    width: 25% !important;
  }
}

#signature-image {
  display: none;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  .form-control {
    border: none;
  }
  .form-select {
    --bs-form-select-bg-img: none;
    --bs-border-width: 0;
  }
  .input-group-text {
    background: none;
    border: none;
  }
  .nav {
    --bs-nav-link-padding-x: 0;
  }
  .nav-tabs {
    --bs-nav-tabs-border-width: 0;
  }
  .nav-link {
    font-weight: bold;
  }
  .nav-link:not(.active) {
    display: none;
  }
  textarea.form-control {
    padding-left: 0;
    padding-right: 0;
  }

  #validation { display: none; }
  #signature-canvas, #signature-efface { display: none; }
  #signature-image { display: block; }
}
